
.heroBanner {
    font-family: "Montserrat", "Serif";
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    width:100%;
  }

.hero__title {
  text-align: center;
  font-family: "Montserrat", "Serif";
  font-size:5vw;
  font-weight:normal;
}
  